# Ipython Notebook
.ipynb_checkpoints

# Distribution / packaging
*.egg-info
build/
dist/

# cache
__pycache__/

# Editor files
#mac
.DS_Store

# vscode
.vscode/*

# Sphinx documentation
docs/source/modelref.rst
docs/source/configref.rst
docs/source/groupdoc
docs/source/_examples
docs/build/
docs/jupyter_execute/
docs/source/_build/
_generated

# VSCodeCounter
.VSCodeCounter/

# testfile
icebar

# example excel files cache
~$*.xlsx