[build-system]
requires = ["setuptools", "wheel", "versioneer[toml]"]
build-backend = "setuptools.build_meta"

[project]
name = "ltbams"
dynamic = ["version"]
description = "Python software for scheduling modeling and co-simulation with dynamics."
readme = "README.md"
authors = [
    {name = "Jinning Wang", email = "jinninggm@gmail.com"}
]

license = {file = "LICENSE"}

classifiers = [
    "Development Status :: 4 - Beta",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Environment :: Console"
]

dependencies = [
    "kvxopt>=1.3.2.1",
    "numpy",
    "scipy",
    "sympy>=1.6,!=1.10.0",
    "pandas",
    "matplotlib",
    "psutil",
    "openpyxl",
    "andes>=1.8.7",
    "pybind11",
    "cvxpy"
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov",
    "coverage",
    "flake8",
    "numpydoc",
    "toml",
    "pyscipopt"
]
doc = [
    "ipython",
    "sphinx",
    "pydata-sphinx-theme",
    "numpydoc",
    "sphinx-copybutton",
    "sphinx-panels",
    "myst-parser",
    "nbsphinx",
    "pyscipopt"
]

[project.scripts]
ams = "ams.cli:main"

[project.urls]
Homepage = "https://ltb.curent.org"
Documentation = "https://ltb.readthedocs.io/projects/ams/en/latest/getting_started/index.html"
Repository = "https://github.com/CURENT/ams"
Issues = "https://github.com/CURENT/ams/issues"
Changelog = "https://ltb.readthedocs.io/projects/ams/en/latest/release-notes.html"

[tool.setuptools]
include-package-data = true  # Ensure package data is included

[tool.setuptools.packages.find]
where = ["ams"]

[tool.setuptools.package-data]
"*" = ["CONTRIBUTING.rst", "LICENSE", "README.md", "versioneer.py", "ams/_version.py"]
"cases" = ["*.xlsx", "*.m", "*.raw", "*.dyr", "*.py", "*.json"]
"docs" = ["*.rst", "*.png", "conf.py", "Makefile", "make.bat"]

[tool.setuptools.exclude-package-data]
"py" = ["*.pyc", "*.pyo"]
"pycache" = ["__pycache__"]

[tool.versioneer]
VCS = "git"
style = "pep440-post"
versionfile_source = "ams/_version.py"
versionfile_build = "ams/_version.py"
tag_prefix = "v"