# Generated on 2024-11-11.
pytest               # dev
pytest-cov           # dev
coverage             # dev
flake8               # dev
numpydoc             # dev
toml                 # dev
pyscipopt            # dev
toml                 # dev
pandoc               # doc
ipython              # doc
sphinx               # doc
pydata-sphinx-theme  # doc
numpydoc             # doc
sphinx-copybutton    # doc
sphinx-panels        # doc
myst-parser          # doc
nbsphinx             # doc
pyscipopt            # doc
