# FORMAT
# Put your extra requirements here in the following format
#
# package[version_required] # tag1, tag2, ...
#
# Allow at least one space between the package name/version and '#'
#
# Only one `#` is allowed per line. Lines starting with `#` are ignored.

flake8 #                       dev